<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.revature.waitroom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaitRoom">
        <activity
            android:name=".DocumentViewer"
            android:exported="false"
            android:label="@string/title_activity_document_viewer"
            android:theme="@style/Theme.WaitRoom" />
        <activity
            android:name=".VideoCaller"
            android:exported="false"
            android:label="@string/title_activity_video_call"
            android:theme="@style/Theme.WaitRoom" />
        <activity
            android:name=".DocList"
            android:exported="false"
            android:label="@string/title_activity_doc_list"
            android:theme="@style/Theme.WaitRoom" />
        <activity
            android:name=".VideoPlayer"
            android:exported="false"
            android:label="@string/title_activity_video_player"
            android:theme="@style/Theme.WaitRoom" />
        <activity
            android:name=".Appointments"
            android:exported="false"
            android:label="@string/title_activity_appointments"
            android:theme="@style/Theme.WaitRoom" />
        <activity
            android:name=".VideoLibrary"
            android:exported="false"
            android:label="@string/title_activity_video_library"
            android:theme="@style/Theme.WaitRoom" />
        <activity
            android:name=".Menu"
            android:exported="false"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.WaitRoom" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.WaitRoom" />
        <activity
            android:name=".LogIn"
            android:exported="false"
            android:label="@string/title_activity_log_in"
            android:theme="@style/Theme.WaitRoom" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WaitRoom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>